In [1]:
import os 
import sqlite3
os.getcwd()

'C:\\Users\\DELL'

In [4]:
connection =sqlite3.connect("my_sql_database.db")
cursor = connection.cursor()

In [5]:
sql_command= """CREATE TABLE Ages(name VARCHAR(128),
  age INTEGER
)"""
cursor.execute(sql_command)

In [6]:
cursor.execute("DELETE FROM Ages;")
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Mara', 28);")
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Otto', 33);")
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Fyn', 31);")
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Neshawn', 17);")

In [7]:
connection.commit()

In [9]:
cursor.execute("SELECT hex(name || age) AS X FROM Ages ORDER BY X;")

In [11]:
answer=cursor.fetchall()
for item in answer:
    print(item)

('46796E3331',)
('4D6172613238',)
('4E65736861776E3137',)
('4F74746F3333',)

In [12]:
connection.close()